In [32]:
# Importing all libraries
import warnings
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd 

#Ignoring ugly warnings
warnings.filterwarnings("ignore")

In [33]:
# Creating DataFrame with CSV file 
df = pd.read_csv('/Users/ndou/Documents/Flatiron/Phase1-Project/Aircraft-Company-EDA/archive/AviationData.csv', encoding = 'latin1')

# Calling DataFrame
df

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

In [34]:
# Checking info of DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50132 non-null  object
 9   Airport.Name            52704 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87507 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81793 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82505 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

In [35]:
# Dropping all Amateurly built airplanes and removing the column
df = df[df['Amateur.Built'] != 'Yes']
df.drop(columns = ['Amateur.Built'], inplace = True)

In [36]:
df.isnull().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                     51
Country                     220
Latitude                  50213
Longitude                 50219
Airport.Code              35439
Airport.Name              33078
Injury.Severity             999
Aircraft.damage            3165
Aircraft.Category         51674
Registration.Number        1296
Make                         48
Model                        69
Number.of.Engines          5788
Engine.Type                6763
FAR.Description           51917
Schedule                  68074
Purpose.of.flight          6136
Air.carrier               64761
Total.Fatal.Injuries      10225
Total.Serious.Injuries    11175
Total.Minor.Injuries      10652
Total.Uninjured            4957
Weather.Condition          4412
Broad.phase.of.flight     24249
Report.Status              6036
Publication.Date          12855
dtype: int64

In [37]:
# Calculate the percentage of values being NaN for each column
rows = len(df)
missing = df.isna().sum()
percentage_missing = missing / rows

In [38]:
# Put the data in a DataFrame and sort it
percentage_missing_df = pd.DataFrame({'Missing' : percentage_missing})
percentage_missing_df.sort_values('Missing', ascending = False, inplace = True)

In [39]:
#printing columns with more than 10% missing values
print(percentage_missing_df[percentage_missing_df['Missing'] > 0.1])

                         Missing
Schedule                0.846544
Air.carrier             0.805345
FAR.Description         0.645621
Aircraft.Category       0.642600
Longitude               0.624506
Latitude                0.624431
Airport.Code            0.440707
Airport.Name            0.411346
Broad.phase.of.flight   0.301552
Publication.Date        0.159860
Total.Serious.Injuries  0.138968
Total.Minor.Injuries    0.132464
Total.Fatal.Injuries    0.127154

In [40]:
# Drop columns with over 50% missing values
col_to_drop = ['Schedule', 'Air.carrier', 'FAR.Description', 'Longitude', 'Latitude']
df.drop(columns = col_to_drop, axis = 1, inplace = True)
print(col_to_drop)

['Schedule', 'Air.carrier', 'FAR.Description', 'Longitude', 'Latitude']

In [41]:
# Drop records that are not accidents in United States
before = len(df)
df = df[(df['Investigation.Type'] == 'Accident') & (df['Country'] == 'United States')]
dropped = before - len(df)
print(str(dropped) + ' rows dropped.')

8803 rows dropped.

In [43]:
# Convert Date to a datetime, add a Year & Month column and remove data before 1998
df['Event.Date'] = pd.to_datetime(df['Event.Date'])

In [44]:
#Add a day, month & year column
df['Year'] = df['Event.Date'].dt.year
df['Month.Abbr'] = df['Event.Date'].dt.month_name().str[:3]
df['Day.Name.Abbr'] = df['Event.Date'].dt.day_name().str[:3]

# Remove data before 1998
df = df[df['Year'] >= 1998]

In [45]:
# Merge different capitalizations of Make togheter
df['Make'] = df['Make'].str.title()
df['Make'].value_counts().nlargest(10)

Make
Cessna         10814
Piper           6040
Beech           2203
Bell            1012
Mooney           608
Robinson         556
Boeing           515
Air Tractor      385
Bellanca         375
Schweizer        342
Name: count, dtype: int64

In [46]:
# Merge same airport names togheter
df['Airport.Name'].replace(to_replace = '(?i)^.*private.*$', value = 'PRIVATE', inplace = True, regex = True)
df['Airport.Name'].replace(to_replace = '(?i)none', value = 'NONE', inplace = True, regex = True)
df['Airport.Name'].value_counts().nlargest(10)

Airport.Name
PRIVATE               599
NONE                   36
North Las Vegas        36
MERRILL FIELD          35
NORTH LAS VEGAS        30
PVT                    28
Centennial Airport     26
Merrill Field          25
Centennial             23
Falcon Field           23
Name: count, dtype: int64

In [47]:
# Merge same registration numbers togheter
df['Registration.Number'].replace(to_replace = '(?i)none', value = 'NONE', inplace = True, regex = True)
df['Registration.Number'].value_counts().nlargest(10)

Registration.Number
UNREG     40
NONE      13
N5408Y     5
N8402K     5
N3233M     4
N454SF     4
N82905     4
N4785F     4
N1820L     4
N3331R     4
Name: count, dtype: int64

In [48]:
# Merge weather condition unknowns
df['Weather.Condition'].replace(to_replace = ['Unk', 'UNK'], value = 'Unknown', inplace = True, regex = False)
df['Weather.Condition'].value_counts()

Weather.Condition
VMC        31248
IMC         2029
Unknown      130
Name: count, dtype: int64

In [49]:
# Split location in city and state for tableau interface
df['City'] = df['Location'].str.split(',').str[0]
df['State'] = df['Location'].str.split(',').str[1]
df[['City', 'State']].head(10)

                  City State
43240         CHANDLER    AZ
43243          MCGRATH    AK
43244  EVERGLADES CITY    FL
43245          AUGUSTA    ME
43246         WESTPORT    OK
43247          RIVIERA    TX
43248        WINTERSET    IA
43249        TREMONTON    UT
43250          BUNNELL    FL
43251          COMPTON    CA

In [50]:
# Cleans amount excess Fatal values
df['Injury.Severity'] = df['Injury.Severity'].str.split('(').str[0]
df['Injury.Severity'].value_counts()

Injury.Severity
Non-Fatal      27759
Fatal           5818
Minor            181
Serious          133
Unavailable        1
Name: count, dtype: int64

In [51]:
dict_ = {"Minor" : "Non-Fatal", "Serious" : "Non-Fatal", 'Non-Fatal': 'Non-Fatal', "Fatal" : "Fatal"}
df['Injury.Severity'] = df['Injury.Severity'].map(dict_) 

df['Injury.Severity'].value_counts()

Injury.Severity
Non-Fatal    28073
Fatal         5818
Name: count, dtype: int64

In [52]:
# Dropping uncesseary columns
df.drop(columns = 'Event.Id', inplace = True)
df.drop(columns = 'Accident.Number', inplace = True)
df.drop(columns = "Registration.Number", inplace = True)
df.drop(columns = "Publication.Date", inplace = True)
df.drop(columns = "Airport.Code", inplace = True)
df.drop(columns = "Airport.Name", inplace = True)

In [53]:
#Resetting the index
df.reset_index()

,index,Investigation.Type,Event.Date,Location,Country,Injury.Severity,Aircraft.damage,Aircraft.Category,Make,Model,...,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Year,Month.Abbr,Day.Name.Abbr,City,State
0,43240,Accident,1998-01-01,"CHANDLER, AZ",United States,Fatal,Destroyed,NaN,Cessna,172M,...,0.0,0.0,VMC,Cruise,Probable Cause,1998,Jan,Thu,CHANDLER,AZ
1,43243,Accident,1998-01-02,"MCGRATH, AK",United States,Non-Fatal,Destroyed,NaN,Douglas,DC-6B,...,0.0,3.0,VMC,Takeoff,Probable Cause,1998,Jan,Fri,MCGRATH,AK
2,43244,Accident,1998-01-02,"EVERGLADES CITY, FL",United States,Non-Fatal,Substantial,NaN,Cessna,152,...,0.0,2.0,VMC,Landing,Probable Cause,1998,Jan,Fri,EVERGLADES CITY,FL
3,43245,Accident,1998-01-02,"AUGUSTA, ME",United States,Non-Fatal,Substantial,NaN,Cessna,172P,...,0.0,2.0,VMC,Taxi,Probable Cause,1998,Jan,Fri,AUGUSTA,ME
4,43246,Accident,1998-01-02,"WESTPORT, OK",United States,Non-Fatal,Substantial,NaN,Mooney,M20J,...,0.0,1.0,VMC,Approach,Probable Cause,1998,Jan,Fri,WESTPORT,OK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33939,88884,Accident,2022-12-26,"Annapolis, MD",United States,Non-Fatal,NaN,NaN,Piper,PA-28-151,...,0.0,0.0,NaN,NaN,NaN,2022,Dec,Mon,Annapolis,MD
33940,88885,Accident,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,Bellanca,7ECA,...,0.0,0.0,NaN,NaN,NaN,2022,Dec,Mon,Hampton,NH
33941,88886,Accident,2022-12-26,"Payson, AZ",United States,Non-Fatal,Substantial,Airplane,American Champion Aircraft,8GCBC,...,0.0,1.0,VMC,NaN,NaN,2022,Dec,Mon,Payson,AZ
33942,88887,Accident,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,Cessna,210N,...,0.0,0.0,NaN,NaN,NaN,2022,Dec,Mon,Morgan,UT
33943,88888,Accident,2022-12-29,"Athens, GA",United States,Non-Fatal,NaN,NaN,Piper,PA-24-260,...,0.0,1.0,NaN,NaN,NaN,2022,Dec,Thu,Athens,GA

In [56]:
#Filling NaN values with values for visualization later
df['Aircraft.damage'] = df['Aircraft.damage'].fillna('None')
df['Total.Fatal.Injuries'].fillna(0, inplace = True)
df['Total.Serious.Injuries'].fillna(0, inplace = True)
df['Total.Minor.Injuries'].fillna(0, inplace = True)
df['Total.Uninjured'].fillna(0, inplace = True)
df['Aircraft.Category'].fillna(value = 'Airplane', inplace = True)
df = df[df['Aircraft.Category'] == 'Airplane']

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30774 entries, 43240 to 88888
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Investigation.Type      30774 non-null  object
 1   Event.Date              30774 non-null  datetime64[ns]
 2   Location                30767 non-null  object
 3   Country                 30774 non-null  object
 4   Injury.Severity         30723 non-null  object
 5   Aircraft.damage         30774 non-null  object
 6   Aircraft.Category       30774 non-null  object
 7   Make                    30773 non-null  object
 8   Model                   30769 non-null  object
 9   Number.of.Engines       29996 non-null  float64
 10  Engine.Type             28911 non-null  object
 11  Purpose.of.flight       29134 non-null  object
 12  Total.Fatal.Injuries    30774 non-null  float64
 13  Total.Serious.Injuries  30774 non-null  float64
 14  Total.Minor.Injuries    30774 non-null  float64
 15  Total.Uninjured         30774 non-null  float64
 16  Weather.Condition       30311 non-null  object
 17  Broad.phase.of.flight   15747 non-null  object
 18  Report.Status           28823 non-null  object
 19  Year                    30774 non-null  int32
 20  Month.Abbr              30774 non-null  object
 21  Day.Name.Abbr           30774 non-null  object
 22  City                    30767 non-null  object
 23  State                   30767 non-null  object
dtypes: datetime64[ns](1), float64(5), int32(1), object(17)
memory usage: 5.8+ MB

In [59]:
#Creating cleaned CSV file.
df.to_csv('cleaned_aviation_data1.csv')